# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [25]:
# Imports
import pandas as pd
from pathlib import Path
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [26]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv(Path('./Resources/applicants_data.csv'))

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [27]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [28]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [29]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [30]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [31]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [32]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Display the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [33]:
# Create a list of numerical variables 
numerical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "int64"].index)

# Display the numerical variables list
numerical_variables

['STATUS', 'ASK_AMT', 'IS_SUCCESSFUL']

In [34]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat(
    [
        encoded_df,
        applicant_data_df[numerical_variables]
    ],
    axis=1
)

# Review the Dataframe
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [35]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [36]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [37]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [38]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [42]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [43]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [44]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [45]:
# Create the Sequential model instance
nn = Sequential()

In [46]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [47]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [48]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=1, activation="sigmoid"))

In [49]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [50]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [51]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 5s 4ms/step - loss: 0.5832 - accuracy: 0.7177
Epoch 2/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5553 - accuracy: 0.7298
Epoch 3/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5514 - accuracy: 0.7306
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5482 - accuracy: 0.7325
Epoch 5/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5472 - accuracy: 0.7322
Epoch 6/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5456 - accuracy: 0.7333
Epoch 7/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5443 - accuracy: 0.7348
Epoch 8/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5441 - accuracy: 0.7341
Epoch 9/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5424 - accuracy: 0.7347
Epoch 10/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5421 - accuracy: 0.7355
Epoch 11/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5426 - accuracy: 0.7357
Epoch 12/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5413 - accuracy: 0.7348
Epoch 13/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5406 - accuracy: 0.7356
Epoch 14/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5395 - accuracy: 0.7370
Epoch 15/50
804/804 [==============================] - 4s 4ms/step - loss: 0.5396 - accuracy: 0.7372
Epoch 16/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5395 - accuracy: 0.7363
Epoch 17/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5386 - accuracy: 0.7371
Epoch 18/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5387 - accuracy: 0.7369
Epoch 19/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5379 - accuracy: 0.7367
Epoch 20/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5378 - accuracy: 0.7386
Epoch 21/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5377 - accuracy: 0.7381
Epoch 22/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5374 - accuracy: 0.7380
Epoch 23/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5370 - accuracy: 0.7389
Epoch 24/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5366 - accuracy: 0.7389
Epoch 25/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5366 - accuracy: 0.7383
Epoch 26/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5362 - accuracy: 0.7383
Epoch 27/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5363 - accuracy: 0.7381
Epoch 28/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5360 - accuracy: 0.7375
Epoch 29/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5356 - accuracy: 0.7395
Epoch 30/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5356 - accuracy: 0.7385
Epoch 31/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5357 - accuracy: 0.7386
Epoch 32/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5346 - accuracy: 0.7380
Epoch 33/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5349 - accuracy: 0.7390
Epoch 34/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5348 - accuracy: 0.7402
Epoch 35/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5344 - accuracy: 0.7386
Epoch 36/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5342 - accuracy: 0.7397
Epoch 37/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5343 - accuracy: 0.7399
Epoch 38/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5344 - accuracy: 0.7376
Epoch 39/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5342 - accuracy: 0.7399
Epoch 40/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5337 - accuracy: 0.7392
Epoch 41/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5339 - accuracy: 0.7398
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5332 - accuracy: 0.7408
Epoch 43/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5332 - accuracy: 0.7392
Epoch 44/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5330 - accuracy: 0.7409
Epoch 45/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5330 - accuracy: 0.7411
Epoch 46/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5331 - accuracy: 0.7405
Epoch 47/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5332 - accuracy: 0.7398
Epoch 48/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5327 - accuracy: 0.7397
Epoch 49/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5327 - accuracy: 0.7402
Epoch 50/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5327 - accuracy: 0.7411

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [52]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.5552 - accuracy: 0.7293 - 566ms/epoch - 2ms/step
Loss: 0.5551603436470032, Accuracy: 0.7293294668197632

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [54]:
# Set the model's file path
file_path = "./Resources/AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save_weights(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1 - Add a third hidden layer

In [55]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [56]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

58

In [57]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = (hidden_nodes_layer1_A1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2_A1

29

In [58]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = (hidden_nodes_layer2_A1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer3_A1

15

In [59]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [60]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation="relu"))

# Add the third hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer3_A1, activation="relu"))

# Output layer
nn_A1.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 58)                6786

 dense_4 (Dense)             (None, 29)                1711

 dense_5 (Dense)             (None, 15)                450

 dense_6 (Dense)             (None, 1)                 16

=================================================================
Total params: 8,963
Trainable params: 8,963
Non-trainable params: 0
_________________________________________________________________

In [61]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [62]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 3ms/step - loss: 0.5769 - accuracy: 0.7177
Epoch 2/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5522 - accuracy: 0.7299
Epoch 3/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5486 - accuracy: 0.7304
Epoch 4/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5465 - accuracy: 0.7334
Epoch 5/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5460 - accuracy: 0.7325
Epoch 6/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5432 - accuracy: 0.7331
Epoch 7/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5435 - accuracy: 0.7335
Epoch 8/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5421 - accuracy: 0.7343
Epoch 9/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5422 - accuracy: 0.7361
Epoch 10/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5414 - accuracy: 0.7358
Epoch 11/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5411 - accuracy: 0.7360
Epoch 12/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5405 - accuracy: 0.7356
Epoch 13/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5399 - accuracy: 0.7360
Epoch 14/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5394 - accuracy: 0.7363
Epoch 15/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5393 - accuracy: 0.7372
Epoch 16/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5391 - accuracy: 0.7364
Epoch 17/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5391 - accuracy: 0.7360
Epoch 18/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5381 - accuracy: 0.7376
Epoch 19/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5381 - accuracy: 0.7373
Epoch 20/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5377 - accuracy: 0.7378
Epoch 21/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5371 - accuracy: 0.7378
Epoch 22/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5375 - accuracy: 0.7376
Epoch 23/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5372 - accuracy: 0.7374
Epoch 24/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5369 - accuracy: 0.7388
Epoch 25/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5368 - accuracy: 0.7382
Epoch 26/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5364 - accuracy: 0.7383
Epoch 27/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5363 - accuracy: 0.7385
Epoch 28/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5358 - accuracy: 0.7388
Epoch 29/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5358 - accuracy: 0.7387
Epoch 30/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5355 - accuracy: 0.7385
Epoch 31/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5355 - accuracy: 0.7393
Epoch 32/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5352 - accuracy: 0.7386
Epoch 33/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5349 - accuracy: 0.7389
Epoch 34/50
804/804 [==============================] - 4s 6ms/step - loss: 0.5347 - accuracy: 0.7391
Epoch 35/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5348 - accuracy: 0.7390
Epoch 36/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5342 - accuracy: 0.7392
Epoch 37/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5347 - accuracy: 0.7394
Epoch 38/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5342 - accuracy: 0.7400
Epoch 39/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5342 - accuracy: 0.7394
Epoch 40/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5339 - accuracy: 0.7402
Epoch 41/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5339 - accuracy: 0.7399
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5336 - accuracy: 0.7404
Epoch 43/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5332 - accuracy: 0.7400
Epoch 44/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5332 - accuracy: 0.7399
Epoch 45/50
804/804 [==============================] - 5s 6ms/step - loss: 0.5331 - accuracy: 0.7402
Epoch 46/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5329 - accuracy: 0.7415
Epoch 47/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5329 - accuracy: 0.7400
Epoch 48/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5331 - accuracy: 0.7401
Epoch 49/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5321 - accuracy: 0.7406
Epoch 50/50
804/804 [==============================] - 4s 5ms/step - loss: 0.5322 - accuracy: 0.7405

#### Alternative Model 2 - Reduce number of features using PCA transformation

In [109]:
# Import the PCA module
from sklearn.decomposition import PCA

In [110]:
pca = PCA(n_components=5)

In [111]:
# Fit the PCA model on the transformed X DataFrame
X_pca = pca.fit_transform(X)

# Review the first 5 rows of list data
X_pca[:5]

array([[-2.76419868e+06,  7.68473955e-01,  1.52006733e+00,
        -4.19430496e-02, -4.17524462e-01],
       [-2.66060868e+06, -4.89093049e-01, -6.85190542e-02,
         7.92026602e-01,  5.12325828e-01],
       [-2.76419868e+06,  1.90379059e+00,  7.09124834e-01,
         6.27628627e-01, -9.63403928e-02],
       [-2.76250668e+06,  1.87012877e-03, -7.65432495e-01,
         5.10242339e-01,  6.23390155e-01],
       [-2.62660868e+06, -8.36527760e-01,  8.25183432e-01,
        -9.26807982e-02,  5.44101048e-01]])

In [112]:
# Calculate the PCA explained variance ratio
pca.explained_variance_ratio_

array([1.00000000e+00, 1.04943304e-16, 5.60010251e-17, 3.87723704e-17,
       3.07028663e-17])

In [113]:
# Create the PCA DataFrame
X_pca = pd.DataFrame(
    X_pca,
    columns=["PCA1", "PCA2", "PCA3", "PCA4", "PCA5"]
)

# Review the PCA DataFrame
X_pca.head()

           PCA1      PCA2      PCA3      PCA4      PCA5
0 -2.764199e+06  0.768474  1.520067 -0.041943 -0.417524
1 -2.660609e+06 -0.489093 -0.068519  0.792027  0.512326
2 -2.764199e+06  1.903791  0.709125  0.627629 -0.096340
3 -2.762507e+06  0.001870 -0.765432  0.510242  0.623390
4 -2.626609e+06 -0.836528  0.825183 -0.092681  0.544101

In [114]:
X_pca_train, X_pca_test, y_train, y_test = train_test_split(X_pca, y, random_state=1)

In [115]:
X_pca_train.head()

               PCA1      PCA2      PCA3      PCA4      PCA5
10679 -2.764199e+06  1.038747 -0.922759  0.029135  0.140390
5052  -2.764199e+06  0.038655  0.995658  1.390449 -0.766175
9990  -2.764199e+06 -0.794412  0.185570 -0.435045 -0.495506
25173 -2.764199e+06 -0.695409 -0.334245  0.736996 -0.510060
11405 -2.764199e+06  1.224321  0.094358 -0.802441  0.023987

In [116]:
# Create a StandardScaler instance
scaler_pca = StandardScaler()

# Fit the scaler to the features training dataset
X_pca_scaler = scaler_pca.fit(X_pca_train)

# Fit the scaler to the features training dataset
X_pca_train_scaled = X_pca_scaler.transform(X_pca_train)
X_pca_test_scaled = X_pca_scaler.transform(X_pca_test)

In [117]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_pca.iloc[0])

# Review the number of features
number_input_features

5

In [118]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [119]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

3

In [120]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 + 1) // 2

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

2

In [121]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [122]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

# Add the second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_10 (Dense)            (None, 3)                 18

 dense_11 (Dense)            (None, 2)                 8

 dense_12 (Dense)            (None, 1)                 3

=================================================================
Total params: 29
Trainable params: 29
Non-trainable params: 0
_________________________________________________________________

In [123]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [124]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_pca_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 3s 2ms/step - loss: 0.6532 - accuracy: 0.6560
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6278 - accuracy: 0.6715
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6154 - accuracy: 0.6932
Epoch 4/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6103 - accuracy: 0.6895
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6080 - accuracy: 0.6855
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6066 - accuracy: 0.6854
Epoch 7/50
804/804 [==============================] - 2s 3ms/step - loss: 0.6059 - accuracy: 0.6853
Epoch 8/50
804/804 [==============================] - 4s 4ms/step - loss: 0.6054 - accuracy: 0.6851
Epoch 9/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6050 - accuracy: 0.6852
Epoch 10/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6046 - accuracy: 0.6839
Epoch 11/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6043 - accuracy: 0.6843
Epoch 12/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6039 - accuracy: 0.6851
Epoch 13/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6034 - accuracy: 0.6849
Epoch 14/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6030 - accuracy: 0.6844
Epoch 15/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6027 - accuracy: 0.6849
Epoch 16/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6026 - accuracy: 0.6842
Epoch 17/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6024 - accuracy: 0.6843
Epoch 18/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6024 - accuracy: 0.6840
Epoch 19/50
804/804 [==============================] - 3s 4ms/step - loss: 0.6024 - accuracy: 0.6845
Epoch 20/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6021 - accuracy: 0.6845
Epoch 21/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6022 - accuracy: 0.6844
Epoch 22/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6019 - accuracy: 0.6845
Epoch 23/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6018 - accuracy: 0.6842
Epoch 24/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6019 - accuracy: 0.6856
Epoch 25/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6017 - accuracy: 0.6846
Epoch 26/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6015 - accuracy: 0.6861
Epoch 27/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6016 - accuracy: 0.6883
Epoch 28/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6013 - accuracy: 0.6872
Epoch 29/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6013 - accuracy: 0.6877
Epoch 30/50
804/804 [==============================] - 4s 4ms/step - loss: 0.6013 - accuracy: 0.6904
Epoch 31/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6011 - accuracy: 0.6889
Epoch 32/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6010 - accuracy: 0.6901
Epoch 33/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6010 - accuracy: 0.6902
Epoch 34/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6009 - accuracy: 0.6908
Epoch 35/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6009 - accuracy: 0.6903
Epoch 36/50
804/804 [==============================] - 4s 4ms/step - loss: 0.6011 - accuracy: 0.6922
Epoch 37/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6009 - accuracy: 0.6900
Epoch 38/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6010 - accuracy: 0.6898
Epoch 39/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6009 - accuracy: 0.6907
Epoch 40/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6008 - accuracy: 0.6912
Epoch 41/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6008 - accuracy: 0.6913
Epoch 42/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6008 - accuracy: 0.6912
Epoch 43/50
804/804 [==============================] - 4s 4ms/step - loss: 0.6007 - accuracy: 0.6914
Epoch 44/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6009 - accuracy: 0.6916
Epoch 45/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6007 - accuracy: 0.6915
Epoch 46/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6009 - accuracy: 0.6912
Epoch 47/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6008 - accuracy: 0.6913
Epoch 48/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6007 - accuracy: 0.6916
Epoch 49/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6007 - accuracy: 0.6917
Epoch 50/50
804/804 [==============================] - 4s 5ms/step - loss: 0.6007 - accuracy: 0.6911

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [125]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5552 - accuracy: 0.7293 - 430ms/epoch - 2ms/step
Loss: 0.5551603436470032, Accuracy: 0.7293294668197632

In [132]:
print("Alternative Model 1 Results using a Third Hidden Layer")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy =nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results using a Third Hidden Layer
268/268 - 0s - loss: 0.5556 - accuracy: 0.7318 - 479ms/epoch - 2ms/step
Loss: 0.5555671453475952, Accuracy: 0.7317784428596497

In [131]:
print("Alternative Model 2 Results using PCA Transformation")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_pca_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results using PCA Transformation
268/268 - 0s - loss: 0.5987 - accuracy: 0.6920 - 386ms/epoch - 1ms/step
Loss: 0.5986648797988892, Accuracy: 0.6920116543769836

### Step 3: Save each of your alternative models as an HDF5 file.

In [129]:
# Set the file path for the first alternative model
file_path = "./Resources/AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save_weights(file_path)

In [130]:
# Set the file path for the second alternative model
file_path = "./Resources/AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save_weights(file_path)